---
import { Image } from "astro:assets";
---

<div class="w-full my-24 font-outfit bg-base-200 rounded-2xl">
  <div class="relative z-10 flex flex-col-reverse lg:flex-row items-center">
    <div class="flex-1 px-8 py-14 lg:pl-20 lg:pr-12 lg:py-24 max-w-3xl">
      <p
        class="uppercase text-sm text-primary font-semibold mb-4 tracking-wide badge badge-primary badge-soft"
      >
        Ad
      </p>

      <h2
        class="text-4xl lg:text-5xl font-bold text-base-content tracking-tight leading-tight mb-6"
      >
        Transform Your Brand with Precision Marketing
      </h2>

      <p class="text-base-content/70 text-lg leading-relaxed mb-10 max-w-xl">
        We design tailored digital strategies that turn clicks into conversions.
        Let’s build a growth system for your brand that lasts.
      </p>

      <a
        href="/contact"
        class="inline-flex items-center gap-2 text-primary font-medium text-lg group"
      >
        Start a Project
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5 transition-transform duration-200 group-hover:translate-x-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
        </svg>
      </a>
    </div>

    <div
      class="flex-1 w-full lg:w-1/2 h-full relative mt-10 lg:mt-0 px-8 lg:px-0"
    >
      <div
        class="relative rounded-2xl overflow-hidden shadow-2xl ring-1 ring-base-300/40"
      >
        <Image
          src="https://images.unsplash.com/photo-1557804506-669a67965ba0?auto=format&fit=crop&q=80&w=800&h=600"
          alt="Digital Marketing Services"
          width={800}
          height={600}
          class="w-full h-full object-cover min-h-[300px] lg:min-h-[500px]"
        />
      </div>
    </div>
  </div>
</div>
