---
import { getCollection } from "astro:content";
import BlogCard from "../../components/company/BlogCard.astro";
import Pagination from "../../components/common/Pagination.astro";
import type { GetStaticPathsOptions } from "astro";
import CompanyLayout from "../../layouts/CompanyLayout.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await getCollection("posts");
  return paginate(allPosts, { pageSize: 6 });
}

const { page } = Astro.props;
const { data: allPosts } = page;
---

<CompanyLayout title="Articles" description="All articles">
  <div class="px-4 lg:px-14 font-outfit">
    <div
      class="mt-28 flex flex-col items-center justify-center text-center px-4 md:px-0"
    >
      <div
        class="badge badge-primary badge-soft rounded-full font-semibold mb-4"
      >
        Our Blog
      </div>

      <h1
        class="text-3xl md:text-5xl font-semibold max-w-3xl leading-tight"
      >
        Insights & Ideas from Our Team
      </h1>

      <p class="text-base-content/70 text-lg mt-4 max-w-xl">
        Get the latest strategies, trends, and updates from our
        experts—delivered straight to your inbox.
      </p>

      <form
        class="w-full max-w-xl mt-8 flex flex-col sm:flex-row gap-3 items-center"
      >
        <input
          type="email"
          placeholder="Enter your email"
          class="input input-bordered w-full text-base-content rounded-md"
        />
        <button class="btn btn-primary rounded-md w-full sm:w-auto">
          Subscribe
        </button>
      </form>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mb-20 mt-20 stagger-in"
    >
      <BlogCard posts={allPosts} />
    </div>
    <Pagination nextPosts={page.url.next} prevPosts={page.url.prev} />
  </div>
</CompanyLayout>
